.download-page{
    min-height: 500px;
  }
  .download-page .info{
    border-radius: 4px;
    padding: 0;
  }
  .download-page .header{
    display: flex;
    justify-content: space-between;
    background-color: #353b48;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
  }
  .download-page .info.pre-release .header{
    background-color: #b33939;
  }
  .download-page .header > div{
    display: flex;
    align-items: center;
  }
  .download-page .header h2{
    margin: 0;
    color: white;
  }
  .download-page .header i{
    margin: auto 10px;
    font-size: 22px;
    cursor: pointer;
    align-self: center;
    color: white;
  }
  
  .download-page .header .base-button a{
    height: 39px;
  }
  .download-page .header i.fa-github{
    font-size: 33px;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
  }
  .download-page .header i.fa-github:hover{
    font-size: 37px;
    margin: auto 8px;
  }
  .download-page .content{
    padding: 20px;
  }
  @media(max-width: 800px){
    .download-page .content{
      padding: 10px;
    }
  }
  .download-page .content br{
    display: block;
    margin: 10px;
  }
  .download-page .content h2, .download-page .content ul{
    margin: 0;
  }
  .download-page .content p, .download-page .content li{
    font-size: 18px;
  }
  
  
  .download-page .info.pre-release .downloads .title h2::after{
    content: '  ⚠️ This is a pre-release / beta ⚠️';
  }
  .download-page .downloads .title{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
  }
  .download-page .asset{
    display: flex;
    justify-content: space-between;
  }
  .download-page .downloads .asset a{
    font-size: 17px;
    font-weight: 400;
  }
  .download-page .downloads p{
    font-size: 15px;
    font-weight: 300;
  }