header{
  /*background-color: #3A3131;*/
  background: linear-gradient(135deg, #d1005f, #ce2c20);
}
@keyframes drop-header{
  0%{
    transform: translateY(-100%) skewX(45deg);
  }
  100%{
    transform: initial;
  }
}

header > div{
  display: inline-block;
  vertical-align: top;
  /*animation-name: drop-header;*/
  animation-duration: .5s;
}
header > div > a > img {
  margin: 5px 10px 5px 15px;
}
header img{
  height: 60px;
  margin: 5px;
}

/* RIGHT BTNS */
header > div.right{
  float: right;
  margin: 16px 16px 16px 0px;
}
header > div.menu-div{
  margin: 0px;
}

header .dropdown-div{
  height: 38px;
  vertical-align: middle;
  border-radius: 3px;
}
header .download-div > .base-button{
  padding: 0;
  border: none;
}
header .download-div > .base-button > a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 12px;
}
header .download-div > .base-button > a:hover, header .download-div > .base-button > a:active, header .download-div > .base-button > a:focus{
  text-decoration: none;
  color: white;
  outline: none;
}
header .dropdown-menu{
  transform: translateX(-50%);
}
header i{
  color: black;
  font-size: 35px;
  padding-left: 11.75px;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
header i:hover{
  font-size: 39px;
  margin: -2px;
}

header a.language-link{
  padding: 2px 10px;
}
header .dropdown-menu{
  min-width: 0;
  border-radius: 0;
}

header .menu-link{
  display: inline-block;
  padding: 0 5px;
  margin: 0 11px;
  font-size: 24px;
  height: 70px;
  transition: all 0.2s ease-in-out;
}
header .menu-link:hover{
  background-color: rgba(1, 1, 1, 0.1);
}

/* NAV */
header nav{
  display: inline-block;
}
header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li{
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 70px;
}
header nav ul li.active{
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  color: white;
}

header nav ul li a{
  display: block;
  line-height: 70px;
  padding: 0 16px;
  color: white;
  font-family: 'Varela Round', sans-serif;
	font-size: 23px;
  transition: all 0.2s ease-in-out;
}
header nav ul li a:hover{
  color: white;
  background-color: rgba(1, 1, 1, 0.1);
}
header .menu-div{
  display: none;
}
header .filter{
  display: none;
}

@media(max-width: 1000px){
	header .download-div{
		display: none;
	}
}
@media(max-width: 800px){

  header > div.right-and-left{
    float: none;
    margin: 16px 0px 16px 0px;
  }
  body.bodyfix{
    overflow: hidden;
  }
  header .menu-div{
    display: block;
  }
  div.filter{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    will-change: opacity;
    cursor: pointer;
  }

	header nav{
		z-index: 998;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		margin: 0;
		background-color: rgb(235, 235, 235);
		overflow-y: auto;
	}
  header nav ul li{
		display: block;
	}
  header nav ul li:hover{
    background-color: rgba(1, 1, 1, 0.1);
	}
  header nav ul li a{
		color: black;
    padding: 0 50px 0 30px;
	}
  header nav ul li a:hover{
    color: black;
  }
}
