main .features .feature-block > .right{
  z-index: 5;
}
main .features .feature-block > .left{
  z-index: 5;
}

header, main, footer{
  width: 100%;
}
main, footer{
  overflow: hidden;
}

/*----- TITLE -----*/
main > center.title{
  background: linear-gradient(135deg, #efad9e, #ddc2db);
  padding: 40px 0;
}
main > center.title img{
  max-height: 100px;
  max-width: 100%;
  animation-name: title-drop;
  animation-duration: 1.5s;
}
main > center.title .text{
  padding: 10px 15px;;
  border-radius: 5px;
  background-color: rgba(1, 1, 1, 0.05);
  display: inline-block;
  animation-name: text-drop;
  animation-duration: .5s;
}
main > center.title h1{
  background: linear-gradient(135deg, #d1005f, #ce2c20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
@keyframes text-drop{
0%{ transform: translateX(-100%)}
100%{ transform: initial; }
}
@keyframes title-drop{
0%{ opacity: 0;}
100%{ opacity: 1;}
}

/*----- FEATURE-BLOCK -----*/
main .features{
  padding: 40px 0;
  margin: auto;
}
main .feature-block{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
main .feature-block > div{
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
  animation-duration: .5s;
}
main .feature-block > .right{
  margin: 10px 20px 10px 0px;
}
@media(max-width: 700px){
  main .feature-block > div{
    margin: 10px;
  }
  main .feature-block > .right{
    margin: 10px 10px 10px 0px;
  }
}
main div.feature-block.from-left > div{
  animation-name: from-left;
}
main div.feature-block.from-right > div{
  animation-name: from-right;
}
main .feature-block .image-div{
  border-radius: 50px;
  width: 180px;
  min-width: 150px;
  min-height: 150px;
  background: rgba(1, 1, 1, 0.2);
  padding: 5px;
}
main .feature-block .image-div img{
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

main .feature-block .text{
  max-width: 500px;
}
main .feature-block h2{
  background: linear-gradient(135deg, #d1005f, #ce2c20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----- PREVIEW -----*/
.preview-block{
  padding: 40px 0;
  margin-left: auto;
  width: 40%;
  max-width: 840px;
  display: block;
  float: right;
}
.preview-block img.preview{
  transform: skewY(-3deg);
  position: relative;
  right: 0;
  margin-left: 20px;
  /* border: 3px solid #5bb1ff; */
  animation: .5s show;
  box-shadow: -1px 1px 5px black;
}
.preview-block img.preview.hidden{
  animation: .5s hide;
}
@keyframes hide{
  0%{ transform: translateX(0%) skewY(-3deg) }
  100%{ transform: translateX(100%) skewY(-3deg) }
}
@keyframes show{
  0%{ transform: translateX(100%) skewY(-3deg) }
  100%{ transform: translateX(0%) skewY(-3deg) }
}

/*----- BLOCKS DIMENSIONS -----*/

.features{
  width: 60%;
}
.features, .preview-block{
  display: inline-block;
  vertical-align: top;
}

@media(max-width: 1060px){
  main .feature-block{
    justify-content: center;
  }
  .features, .preview-block{
    width: 100%;
  }
  .preview-block img.preview{
    position: relative;
  }
}

/*----- YOUTUBE IFRAME -----*/ 

.youtube-div {
  max-width: 800px;
  margin: 20px;
  margin-top: 0px;
}

.youtube-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*----- SHOOTS-BOX -----*/

/* main .shoot-box{
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 3;
}
main .shoot-box-left{
  left: 0;
  transform: translateY(-50%);
}
main .shoot-box-right{
  right: 0;
  transform: translateY(-50%);
}
@media(max-width: 900px){
  main .shoot-box{
    margin: 0px;
  }
}
@media(max-width: 700px){
  main .shoot-box{
    margin: 0px;
  }
} */
