body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
variable{
  display: none;
}
html{
  margin: 0;
  padding: 0;
}
div{
  margin: 0;
  padding: 0;
}
hr{
  background: linear-gradient(135deg, #d1005f, #ce2c20);
  height: 1px;
  margin: 0;
  border: none;
}
p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0;
}
h1{
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  font-weight: 400;
}
h2{
  font-family: 'Varela Round', sans-serif;
  font-size: 21px;
  font-weight: 400;
}
h3{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

main{
  background-color: #222f3e;
  background-color: #dfe4ea;
}
main li{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
main .liscence br{
  display: block;
  margin: 10px;
}

/*----- INFO-BLOCK -----*/
main > .info{
  padding: 40px;
  animation: from-right-linear .5s;
  max-width: 820px;
  margin: auto;
  background-color: white;
}
@media(max-width: 1000px){
  main > .info{
    padding: 20px;
  }
}
@media(max-width: 800px){
  main > .info{
    padding: 20px 10px;
  }
}
main > .info p, main > .info hr{
  font-size: 18px;
  font-weight: 400;
}
main img.full{
  width: 100%;
  padding: 10px;
}

/*----- ANIMATIONS -----*/
@keyframes from-left{
  0%{ transform: translateX(100%) skewY(20deg);}
  100%{ transform: initial; }
}
@keyframes from-right{
  0%{ transform: translateX(-100%) skewY(20deg); }
  100%{ transform: initial; }
}
@keyframes from-right-linear{
  0%{ transform: translateX(-100%) }
  100%{ transform: initial; }
}


/*----- POPUP -----*/

.filter .popup{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  margin: 20px;
  vert-align: middle;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

@media(max-width: 710px){
  .filter .popup{
    padding: 10px;
  }
  .filter .popup{
    margin: 5px;
  }
}